#### Gerando uma mensagem no console

Markdown é um texto que não reconhecido pela linguagem


Site para programação
https://stackoverflow.com/

Apredendo outras linguagens
https://www.w3schools.com/

Python documentação
https://docs.python.org/pt-br/3/library/

In [ ]:
### Aula dia 16/10/2023
### Auala 01

In [1]:
### Carregar bibliotecas
import numpy as np      ### Bibliotecas de processamento de dados
import keyword          ### biblioteca de palavras reservadas
print(keyword.kwlist)   ### listar palavras
import math as mt            ### Arrendondar
import pandas as df

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
### Funções
"""
type()  - Verifica o tipo de dados
int()   - Numero Inteiro
float() - Numero Decimal
str()   - Tipo texto
print() - apresenta resultado
range() - (start, stop)
"""
### Funções texto
"""
.startswith   - Verificar a inicial
.__contains__ - Verifica se Contem dentro do texto, funciona como um like no sql
"""

### Funções Buit-in
"""
sum - Soma
max - Maior numero
min - Menor numero
len - Contar numero de itens ou elementos
std - Desvio padrão
count - contagem
"""

In [ ]:
### Operadores
"""
+       - soma
-       - subtração
*       - multiplicação
/       - divisão
**      - potencia/elevado
**(1/2) - fração
"""

### Operadores Relacionais
"""
==  - Igual
>   - Maior
<   - Menor
>=  - Maior ou igual
<=  - Menor ou Igual
!=  - Diferente
max - Maior
nim - Menor
"""

### Operadore Logicos
"""
and - e
or  - ou
not - não
"""

In [ ]:
print('Hello, baby') ### Apresenta valores

In [ ]:
#### Aula 1 - Criando as variaveis e atribuindo valores a elas
#### Exercício 01 – Crie um programa para receber dois valores e em seguida, exiba o valor da soma.
num1 = 20
num2 = 5
num3 = 6

soma = num1+num2+num3

print(soma)

In [ ]:
### Exercício 02 – Crie um programa para receber dois valores e em seguida, exiba o valor da diferença entre eles.
num1 = 10
num2 = 5
soma = num1 - num2
print(f'O resultado da substração é {soma}.')

In [ ]:
### Exercício 03 – Crie um programa para receber dois valores e em seguida, exiba o produto entre eles.
num1 = input("Digite o primeiro valor")
num2 = input("Digite o segundo valor")
produto = float(num1) * float(num2)
print('O resultado é: ',produto,'ok')

In [ ]:
### Calcular o Raio
### Utilizando a função PI da biblioteca numpy
### Utilizando INPUT para informar um valor

raio = float(input("digite o raio"))
pi = round(float(np.pi),3)
Area_circulo = pi*raio**2

print(f"O Ciruclo com raio de {raio}mm, tem uma area de {Area_circulo}mm² ")
print(round(float(Area_circulo),3))

In [ ]:
## Calcular o Lado

lado = float(input("digite o lado"))
Aq = round(float(2),3)
Calculo_lado = lado**Aq

print(round(float(Calculo_lado),3))

In [ ]:
## Calcular o F

Ac = round(float(1.8),3)
raio = Ac*float(input("digite o raio"))+32

print(round(float(raio),3))

In [ ]:
### Aula dia 18/10/2023
### Auala 02

In [ ]:
### Exercício 15 - Faça um Programa que peça a temperatura em graus Celsius, transforme e mostre em graus Fahrenheit.

celsius = float(input('Digite aqui a temperatura em celsius'))
fahrenheit = (celsius * 9/5) + 32

print (f'A temperatura de {celsius} graus Celsius é equivalente a {fahrenheit} graus fahrenheit !')

In [ ]:
### Exercício 16 - Faça um Programa que peça 2 números inteiros e um número real. Calcule e mostre:

### Numero Inteiro
valor1 = int(input('Digite o primeiro valor'))
valor2 = int(input('Digite o segundo valor'))
### Numero real
valor3 = float(input('Digite o terceiro valor'))

### A o produto do dobro do primeiro com metade do segundo.
calc_A = (valor1 * 2) + (valor2 / 2) 
print('Resposta A: ',int(calc_A))
### B a soma do triplo do primeiro com o terceiro.
calc_B = (valor1 * 3) + valor3
print('Resposta B: ',int(calc_B))
### C o terceiro elevado ao cubo.
calc_C= (valor3 ** 3)
print('Resposta C: ',int(calc_C))

In [ ]:
### Exercício 17 - João Papo-de-Pescador
"""
Homem de bem, comprou um microcomputador
para controlar o rendimento diário de seu trabalho. Toda vez que ele traz um peso de
peixes maior que o estabelecido pelo regulamento de pesca do estado de São Paulo
(50 quilos) deve pagar uma multa de R$ 4,00 por quilo excedente. João precisa que
você faça um programa que leia a variável peso (peso de peixes) e calcule o excesso.
Gravar na variável excesso a quantidade de quilos além do limite e na variável multa o
valor da multa que João deverá pagar. Imprima os dados do programa com as
mensagens adequadas.
"""
Entrada = float(50)
Peso = float(input('Digite o peso do peixes ?'))
if Peso <= 50:
    print('Sem Multa')
else:
    VlPorKL = 4
    Excesso = (Peso - Entrada)
    multa = (Peso - Entrada)*VlPorKL
    print('Valor Excesso: ',Excesso)
    print('Valor Multa: ',multa)

In [ ]:
### Exercício 18 - Calculo Salarial 
"""
Faça um Programa que pergunte quanto você ganha por hora e o número
de horas trabalhadas no mês. Calcule e mostre o total do seu salário no referido mês,
sabendo-se que são descontados 11% para o Imposto de Renda, 8% para o INSS e 5%
para o sindicato, faça um programa que nos dê:
"""
### a) salário bruto.
ValorHora = round(float(input('Valor Salario por hora ?')),0)
HorasTrabalhadas = round(float(input('Horas trabalhadas no mês ?')),0)
print('Salario por hora :', ValorHora)
print('Horas trabalhadas :',HorasTrabalhadas)

### a) salário bruto.
SalarioBruto = ValorHora * HorasTrabalhadas
print('Salario Bruto :',SalarioBruto)

### IR (11%) : R$
per_ir = 0.11
DescontoIr = SalarioBruto * per_ir
print('Valor desconto IR: ',DescontoIr)

### INSS (8%) : R$
per_inss = 0.08
DescontoInss = SalarioBruto * per_inss
print('Valor desconto INSS: ',DescontoInss)

### Sindicato ( 5%) : R$
per_sindicato = 0.05
DescontoSindicato = SalarioBruto * per_sindicato
print('Valor desconto Sindicato: ',DescontoSindicato)

### Salário Liquido : R$
SalarioLiquido = SalarioBruto - DescontoIr - DescontoInss - DescontoSindicato
print('Valor Salário Liquido: ',SalarioLiquido)

In [ ]:
### Exercício 19 - Calculo de Preço 
"""
Faça um programa para uma loja de tintas. O programa deverá pedir o
tamanho em metros quadrados da área a ser pintada. Considere que a cobertura da
tinta é de 1 litro para cada 3 metros quadrados e que a tinta é vendida em latas de 18
litros, que custam R$ 80,00. Informe ao usuário a quantidades de latas de tinta a serem
compradas e o preço total.
"""
largura = round(float(input('Informe a largura total')),0)
altura = round(float(input('Informe a largura Altura')),0)

areaTotal = largura * altura

formula = mt.ceil(float((areaTotal)/(18*3))) ### função mt.ceil arrendoda para cima

ValorLata = round(float(formula),1) * 80

print('Area total de pitura: ',areaTotal)
print('Quantidade de latas: ',formula)
print('Custo Total: ',ValorLata)

In [ ]:
### Função IF e ELSE

### Exercício 01 – 
"""
Crie uma variável chamada "idade" e atribua um valor inteiro a ela.
Verifique se a idade é maior ou igual a 18 e imprima "Maior de idade" ou "Menor de
idade" de acordo com a condição.
"""

Idade = int(input('Informe sua idade'))
if Idade >=18:
    print('Maior de idade')
else:
    print('Menor de Idade')

In [ ]:
### Exercício 02 - Positivo ou Negativo
"""
Crie uma variável chamada "número" e atribua um valor inteiro a ela.
Verifique se o número é positivo, negativo ou zero e imprima a mensagem
correspondente.
"""
Numero = int(input('Informe numero'))

if Numero >0:
    print('Positivo')
elif Numero <0:
    print('Negativo')
else:
    print('Neutro')

In [ ]:
### Aula dia 23/10/2023
### Auala 03

In [ ]:
### Exercício 03 - Reprovado ou Aprovado
"""
Crie duas variáveis, "nota1" e "nota2", e atribua valores numéricos a elas.
Verifique se a média das notas é maior ou igual a 7 e imprima "Aprovado" ou
"Reprovado" de acordo com a condição.
"""

Nota1 = round(float(input('Informe Nota 1')),1)
Nota2 = round(float(input('Informe Nota 2')),1)
Media = (Nota1 + Nota2)/2
print(Media)

if Media >= 7:
    print('Aprovado')
else:
    print('Reprovado')

In [ ]:
### Exercício 04 - Idade Valida
"""
Crie uma variável chamada "idade" e atribua um valor inteiro a ela.
Verifique se a idade está dentro do intervalo de 18 a 30 (inclusive) e imprima a
mensagem "Idade válida" ou "Idade inválida" de acordo com a condição.
"""

Idade = int(input('Informe Sua Idade'))
print(Idade)

if Idade >= 18 and Idade <= 30:
    print('Idade válida')
else:
    print('Idade inválida')

In [ ]:
### Exercício 05 - Par ou impar
"""
Crie uma variável chamada "numero" e atribua um valor inteiro a ela.
Verifique se o número é par ou ímpar e imprima a mensagem correspondente.
"""

Numero = int(input('Informe um numero'))

### Este bloco calcula o resto da divisão do valor inserido por 2
Resto = Numero % 2
print(Resto)

if Numero % 2 == 0:
    print(f"Número {Numero} é par.")
else:
    print(f"Número {Numero} é ímpar.")

In [ ]:
### Exercício 06 - Verificar periodo
"""
Crie uma variável chamada "horario" e atribua um valor inteiro
representando a hora do dia (em formato 24 horas). Verifique se o horário está dentro
do período da manhã (das 6h às 12h), da tarde (das 12h às 18h) ou da noite (das 18h
às 23h) e imprima a mensagem correspondente.
"""

Horario = int(input('Informe um horario'))
print(f'Horario informado: {Horario}hs.')



if Horario >= 6 and Horario < 12:
    print('Periodo da Manhã.')
elif Horario >= 12 and Horario < 18:
    print('Periodo da tarde.')
elif Horario >= 18 and Horario <= 23:
    print('Periodo da Noite.')
else:
    print('Meia noite')

In [ ]:
### Exercício 07 - Verificar peso
"""
Crie uma variável chamada "peso" e atribua um valor numérico a ela.
Verifique se o peso está dentro do intervalo de 50 a 100 (inclusive) e imprima a
mensagem "Peso válido" ou "Peso inválido" de acordo com a condição.
"""
Peso = int(input('Informe seu peso'))
print(f'Peso informado: {Peso}.')

if Peso >= 50 and Peso <= 100:
    print('Peso válido.')
else:
    print('Peso inválido.')

In [ ]:
### Exercício 08 - Multiplos de 3 e 5
"""
Crie uma variável chamada "numero" e atribua um valor inteiro a ela.
Verifique se o número é múltiplo de 3 e de 5 ao mesmo tempo e imprima a mensagem
correspondente.
"""
Numero = int(input('Informe um numero'))

### Este bloco calcula o resto da divisão do valor inserido por 2
Resto = (Numero % 3) and (Numero % 5)
print(Resto)

if (Numero % 3 == 0) and (Numero % 5 == 0):
    print(f"O Numero {Numero} é Multiplo de 3 e 5.")
else:
    print(f"O Numero {Numero}, não é Multiplo de 3 e 5.")

In [ ]:
### Exercício 09 - Valida ano Bissexto
"""
Crie uma variável chamada "ano" e atribua um valor inteiro
representando um ano. Verifique se o ano é bissexto (divisível por 4, mas não por 100,
exceto se for divisível por 400) e imprima a mensagem correspondente.
"""

Ano = int(input('Informe um numero'))

if (Ano % 4 ==0 and Ano % 100 !=0) or (Ano % 400 ==0):
    print(f'O {Ano} é bissexto.')
else:
    print(f'O {Ano} não é bissexto.')

In [ ]:
### Exercício 15 - 
"""
Faça um programa para a leitura de duas notas parciais de um aluno. 
O programa deve calcular a média alcançada por aluno e apresentar:
• A mensagem "Aprovado", se a média alcançada for maior ou igual a sete;
• A mensagem "Reprovado", se a média for menor do que sete;
• A mensagem "Aprovado com Distinção", se a média for igual a dez.
"""

Nota1 = round(float(input('Nota 1')),1)
Nota2 = round(float(input('Nota 2')),1)

Notamedia = ((Nota1 + Nota2)/2)
print(Notamedia)

if Notamedia >=7 and Notamedia <10:
    print(f'Aluno aprovado com media {Notamedia}.')
elif Notamedia == 10:
    print(f'Aluno aprovado com Distinção com media {Notamedia}.')
else:
    print(f'Aluno reprovado com media {Notamedia}.')

In [ ]:
### Exercício 16 - Verificar o maior numero
"""
Faça um Programa que leia três números e mostre o maior deles.
"""

Numero1 = round(float(input('Nota 1')),1)
Numero2 = round(float(input('Nota 2')),1)
Numero3 = round(float(input('Nota 2')),1)

NumeroMaior = max(Numero1,Numero2,Numero3)
print(NumeroMaior)

In [ ]:
### Exercício 16 - Verificar o maior numero
"""
Faça um Programa que leia três números e mostre o maior deles.
"""

Numero1 = round(float(input('Numero 1')),1)
Numero2 = round(float(input('Numero 2')),1)
Numero3 = round(float(input('Numero 2')),1)


if (Numero1 > Numero2 and Numero1 > Numero3):
   print(f'Numero 1 é o maior {Numero1}')
elif (Numero2 > Numero1 and Numero2 > Numero3):
   print(f'Numero 2 é o maior {Numero2}')
elif (Numero3 > Numero1 and Numero3 > Numero2):
   print(f'Numero 3 é o maior {Numero3}')
else:
   print('tudo errado')

In [ ]:
### Exercício 17 - Verificar o Maior e menor
"""
Faça um Programa que leia três números e mostre o maior e o menor deles.
"""
Numero1 = round(float(input('Nota 1')),1)
Numero2 = round(float(input('Nota 2')),1)
Numero3 = round(float(input('Nota 2')),1)

NumeroMaior = max(Numero1,Numero2,Numero3)
print(NumeroMaior)

NumeroMenor = min(Numero1,Numero2,Numero3)
print(NumeroMenor)

In [ ]:
### Exercício 17 - Verificar o Maior e menor
"""
Faça um Programa que leia três números e mostre o maior e o menor deles.
"""
Numero1 = round(float(input('Numero 1')),1)
Numero2 = round(float(input('Numero 2')),1)
Numero3 = round(float(input('Numero 2')),1)

if (Numero1 > Numero2 and Numero1 > Numero3):
   print(f'Numero 1 é o maior {Numero1}')
elif (Numero2 > Numero1 and Numero2 > Numero3):
   print(f'Numero 2 é o maior {Numero2}')
elif (Numero3 > Numero1 and Numero3 > Numero2):
   print(f'Numero 3 é o maior {Numero3}')

if (Numero1 < Numero2 and Numero1 < Numero3):
   print(f'Numero 1 é o menor {Numero1}')
elif (Numero2 < Numero1 and Numero2 < Numero3):
   print(f'Numero 2 é o menor {Numero2}')
elif (Numero3 < Numero1 and Numero3 < Numero2):
   print(f'Numero 3 é o menor {Numero3}')

else:
   print('tudo errado')

In [ ]:
### Exercício 18 - Verificar o produto mais barato
"""
Faça um programa que pergunte o preço de três produtos e informe qual
produto você deve comprar, sabendo que a decisão é sempre pelo mais barato.
"""

Produto1 = round(float(input('Produto 1')),1)
Produto2 = round(float(input('Produto 2')),1)
Produto3 = round(float(input('Produto 2')),1)

if (Produto1 < Produto2 and Produto1 < Produto3):
   print(f'Produto 1 é o menor, valor {Produto1}')
elif (Produto2 < Produto1 and Produto2 < Produto3):
   print(f'Produto 2 é o menor, valor {Produto2}')
elif (Produto3 < Produto1 and Produto3 < Produto2):
   print(f'Produto 3 é o menor, valor {Produto3}')

else:
   print('tudo errado')

In [ ]:
### Aula 4 - 35/10/2023

### Lista | Tupulas | Dicionarios

In [ ]:
### Lista

aluno = ['Ana','Amanda','Bruno','Joao',1]
notas = [10,9,8,7]

In [ ]:
### Indice
### O indice no pytho, começa sempre com 0

### Exibir o primeiro nome da lista aluno
print(aluno[0])

### Exibir o primeiro nome da lista notas
print(notas[2])

In [ ]:
### Listas(List) - Acessando Itens - Python sem inicia a lista com "0" sendo a primeira posição
### Visualizar mais que um item da lista, Posição Inicia : Posição Final +1
### Criamos utilizando []
aluno[2:4]
aluno[2:] ### apartir do 2 até o ultimo elemento da lista

In [ ]:
### Identifica o tipo de dado
print(type(aluno))
print(type(aluno[4])) ### Verifica o tipo de dados da posição

### Contar a quantidade de elementos da lista
print(len(aluno))

In [ ]:
### Exercício 01 - Criando Lista de times
'''
Crie uma lista com nomes de 4 times de futebol. 
a) Palmeiras 
b) São Paulo 
c) Santos 
d) Água Santa 
e) Acesse o time que está na 3a posição. 
f) Crie uma lista com duas listas de 3 times de futebol, cada uma de uma  divisão diferente. 
'''
### Lista de times
times = ['Palmeiras','São Paulo','Santos','Água Santa']

### Acessar posição 3
print(times[2])

### Criando sublista
### Acessar a lista com 3 times
print(times[1:4])

In [ ]:
### juntando duas listas 

Com_mundial = ['São Paulo','Corinthians','Santos']
Sem_mundial = ['Palmeiras','Cruzeiro','Agua Negra']

lista_times = [Com_mundial,Sem_mundial]
print(lista_times[0][0])

In [ ]:
### Exercício 02 - Inserir novas informações na lista
'''
Crie uma lista com 3 diferentes moedas. Acrescente mais 2  outras moedas à essa mesma lista
'''
Moedas = ['Dolar','Real','Euro']
print(Moedas)

In [ ]:
### Inserir novos informações na lista, o "Append" adiciona novo elemento no final da lista
Moedas.append('Peso')
print(Moedas)

In [ ]:
#### Inseri em uma posição especifica, utilizar o "Insert (lista.insert(posicao,valor)"
Moedas.insert(1,"Rand")
print(Moedas)

In [ ]:
#### Deletar um elemento da lista
Moedas.remove("Peso")
print(Moedas)

In [ ]:
### Lista (list) - Conversão de lista para string

Supermercado = ['Batata','Oleo','Margarina','Cafe']
print(supermecado)
print(type(Supermercado))


### Convertendo de list para string
ListaConvertida = ';'.join(Supermercado)
print(ListaConvertida)
print(type(ListaConvertida))


### Convertendo de string para list

lista = ListaConvertida.split(';')
print(lista)
print(type(lista))

In [ ]:
MoedasConvertidas = ';'.join(Moedas)
print(MoedasConvertidas)
print(type(MoedasConvertidas))

MoedasLista = MoedasConvertidas.split(';')
print(MoedasLista)
print(type(MoedasLista))

In [ ]:
### Tuplas(tuple) - Criamos utilizando () || Separamos os elementos por virgula 
### Tuplas não pode ser alterada a estrutura de criação

valores = ('diogo','maya','rosa')
print(valores)
type(valores)

In [ ]:
my_list = [1, 2] ### Criando Lista
my_list[0] = 10
print(my_list)
type(my_list)

In [ ]:
my_tuple = (1, 2) ### Criando tuplas

print(my_tuple)
type(my_tuple)

try:
    my_tuple[0] = 3
except TypeError:
    print('Tuplas não é possivel alterar')

In [ ]:
### Tuplas é idael para criação de função
### Criando uma função com tuplas

def sum_and_product (x, y):
    return (x + y),(x * y)

In [ ]:
### Chamando a função criado
print(sum_and_product(10,5))
print(type(sum_and_product(10,5)))

In [ ]:
### Dicionarios
### Dicionarios são estruturas
### Chave: Valor que permite associar valores a um identificador.
### *** É criado com Chaves {}
### *** Permite alterações

'''
Exemplo:
Chave || Valor
'Ana':10
'Jorge':cpf,rg,sexo
'Maria':horario,turma,sala
'''

In [ ]:
### Criando um Dicionario
d_altura = {
    'Amanda':1.65
    ,'Ana':1.72
    ,'Joao':1.5
}
print(d_altura)
type(d_altura)


d_peso = {
    'Amanda':60
    ,'Ana':82
    ,'Joao':100
}
print(d_peso)
type(d_peso)

In [ ]:
### Acessar/filtra as informações do dicionairio
d_altura['Amanda']

In [ ]:
### Exercício 05 - Criando dicionario referente o almoço da servido na semana
'''
Crie um dicionário chamado cardápio em que as chaves são os  dias da semana e os respectivos valores sejam os pratos do dia
'''

AlmocoSemanal = {
     'Segunda':'Virada Paulista'
    ,'Terca':'Peixe'
    ,'Quarta':'Feijoada'
    ,'Quinta':'Lasanha'
    ,'Sexta':'Churasco'
    ,'Sabado':'Feijoada'
    ,'Domingo':'Fechado'

}

print(AlmocoSemanal)
print(AlmocoSemanal['Terca'])

In [ ]:
### Exercício 06 - Criando dicionario de hemograma
'''
Crie um dicionário chamado hemograma que contenha as  seguintes chaves:valor. 
'''
hemograma = {
    'hemacias':4.71
    ,'hemoglobina':14.1
    ,'hematocrito':41.2
    ,'linfócitos':38
    ,'monocitos':7
    ,'resultado':'saudável' 
}

print(hemograma)

print(hemograma['resultado'])

In [ ]:
### Alterar dado no dicionario

### Exercício 07 - Corrija o dicionário acima com monocitos:12

hemograma['monocitos']=12

print(hemograma)

print(hemograma['monocitos'])

In [ ]:
### Aula 27/10/2023
### Estrutura de Repetição

### for "variavel" in "lista de elementos" - O "in" captura e retor a informação para o "for" de acordo com a quantidade de elementos
### for /while

In [10]:
repeticao = ['A','E','B','Z','E']
for repeticao in repeticao:
    print(repeticao)

A
E
B
Z
E

In [18]:
### Incluindo um condição "if" dentro do "for"

repeticao = ['abacaxi','elefante','banana','zebra','cobra']
for repeticao in repeticao:
    if repeticao.startswith('eb'):
        print(repeticao)

zebra

In [29]:
### Incluindo a variaveç Acumuladora/"soma" no "for"

numerofor = [1,2,3,4,5,6,7,8,9,10]
soma = 0 # Variavel Acumuladora
for numerofor in numerofor:
    soma=soma + numerofor
    print(soma) ### Apresenta o processo completa
print(soma) ### Apresenta somente o resultado final

1
3
6
10
15
21
28
36
45
55
55

In [57]:
### Exercício 06 - Listar numero diagonal e horizontal
### Adicionando a função "range" 
'''
Faça um programa que imprima na tela os números de 1 a 20, um abaixo
do outro. Depois modifique o programa para que ele mostre os números um ao lado do
outro.
'''

rangernumeto = range(1,21)

for rangernumeto in rangernumeto:
    if rangernumeto >0:
        print(rangernumeto)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [61]:
rangernumeto = range(1,21)
listavazia = [] ## lista vazia

for inserirnumeros in rangernumeto:
    listavazia.append(inserirnumeros) ## Inserir dado em uma lista vazia, utilizando o append
    print(listavazia)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [80]:
### Exercício 07 - Exercicio função sum, min, len
'''
Faça um programa que leia 5 números e informe o maior número. 
'''
listacontrole = range(1,6) ## numero de elementos necessario
listavazia = [] ## lista vazia
for i in listacontrole: ## Contrele a posição range()
    digitenumero= int(input(f'Informe o numero {i}')) ## Inserir dado em uma lista vazia, utilizando o append
    listavazia.append(digitenumero) ## Inserir dado em uma lista vazia, utilizando o append
print(listavazia)
print(f'O maior valor é {sum(listavazia)}') ## soma dos elemento ou valores
print(f'O maior valor é {max(listavazia)}') ## maior valor
print(f'O menor valor é {min(listavazia)}') ## menor valor
print(f'Você informou {len(listavazia)} elementos') ## conta a quantidade de elemento ou itens

[1, 2, 3, 4, 5]
O maior valor é 15
O maior valor é 5
O menor valor é 1
Você informou 5 elementos

In [88]:
### Exercício 08 - Inserindo o len() e a media (soma e media, utilizando sum e len)
'''
Faça um programa que leia 5 números e informe a soma e a média dos  números. 
'''

listacontrole = range(1,6) ## numero de elementos necessario
listavazia = [] ## lista vazia
for i in listacontrole: ## Contrele a posição range()
    digitenumero= int(input(f'Informe o numero {i}')) ## Inserir dado em uma lista vazia, utilizando o append
    listavazia.append(digitenumero) ## Inserir dado em uma lista vazia, utilizando o append
print(listavazia)
print(f'O maior valor é {sum(listavazia)}') ## soma dos elemento ou valores
print(f'O maior valor é {max(listavazia)}') ## maior valor
print(f'O menor valor é {min(listavazia)}') ## menor valor
print(f'Quantidade de elementos {len(listavazia)}') ## conta a quantidade de elemento ou itens
print(f'O maior valor é {round(float((sum(listavazia)/len(listavazia))),1)}') ## soma e media, utilizando sum e len

[4, 1, 62, 5, 6]
O maior valor é 78
O maior valor é 62
O menor valor é 1
Quantidade de elementos 5
O maior valor é 15.6

In [113]:
### Exercício 09 - Apresentar numeros impares
'''
Faça um programa que imprima na tela apenas os números ímpares  entre 1 e 50. 
'''
listacontrole = range(1,51) ## numero de elementos necessario
for i in listacontrole: ## Contrele a posição range()
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [159]:
### Exercício 10 - 
'''
Faça um programa que receba dois números inteiros e gere os números  inteiros que estão no intervalo compreendido por eles. 
'''
listacontrole = range(int(input("Informe o 1° numero")),int(input("Informe o 2° numero"))) ## numero de elementos necessario
listavazia = [] ## lista vazia
for i in listacontrole: ## Contrele a posição range()
        digitenumero = i
        listavazia.append(digitenumero) ## Inserir dado em uma lista vazia, utilizando o append
        ##print(i)
print(listavazia)

### Exercício 11 - Efetuando uma soma
'''
Altere o programa anterior para mostrar no final a soma dos números. 
'''
print(f'Valor total {sum(listavazia)}') ## soma dos elemento ou valores

[1, 2]
Valor total 3

In [158]:
### Exercício 10 - Outra forma de fazer

numInferior = int(input("Informe o 1° numero"))
numsuperior = int(input("Informe o 2° numero")) ## numero de elementos necessario
soma = 0
for x in range(numInferior,numsuperior +1):
    soma += x
    print('Valor da variavel x =',x)
    print(f'Valor da variavel soma = {soma}')

Valor da variavel x = 1
Valor da variavel soma = 1
Valor da variavel x = 2
Valor da variavel soma = 3
Valor da variavel x = 3
Valor da variavel soma = 6

In [169]:
### Exercício 12 - Criando uma Tabuada
'''
Desenvolva um gerador de tabuada, capaz de gerar a tabuada de  qualquer número inteiro entre 1 a 10. 
O usuário deve informar de qual numero ele deseja  ver a tabuada. A saída deve ser conforme o exemplo abaixo: 
'''
tabuada = int(input("Digite o numero da tabuada"))
for multiplicador in range(11):
    print(f'{tabuada} x {multiplicador} = {tabuada * multiplicador}')

11 x 0 = 0
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

In [ ]:
### Estrutura de Repetição "While"
'''
"While" Condição ex( ==, >, <, >=, <=, !=)
Ações a serem reoetidas enquanto a condição for "VERDADEIRA"
'''

In [174]:
### LOOP WHILE
'''
A estrutura de repetição "while" é utilizada quando precisamos repetir uma ação alguma vezes ou fazer uma interação até que uma condição seja satisfeita
'''

i = 1 ## Variavel de controle
soma = 0 ## Variavel acumulado

while i <= 10:
    soma +=1
    i += 1
    print(soma)

1
2
3
4
5
6
7
8
9
10

In [2]:
### Aula 30/10/2013 - BIBLIOTECA PANDAS

###Importando dados em excel
import pandas as pd

In [16]:
### Localizar o caminho do arquivo
### Importando arquivo xlsx
##caminho = 'C:\\Users\\FIC\\Documents\\Python Fundamentos de Bigdata - Diogo\\Arquivos\\bank-full.xlsx'

### Carrega o arquivo para um Dataframe
tabela = pd.read_excel(caminho, sheet_name='Sheet 1 - bank-full')
display(tabela)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other

In [25]:
### Visualizar as primeiras linhas do dataframe
##tabela.head(2)

### Visualizar a primeira e ultima linha
##tabela.tail(2)

### Obter informações do dataframe
##tabela.info()

### Renomear Todas as Colunas, precisa ter a mesma quantidade do arquivo
tabela.columns = [
    'idade'
    ,'job'
    ,'estado civil'
    ,'educacao'
    ,'default'
    ,'balance'
    ,'housing'
    ,'emprestimo'
    ,'contato'
    ,'dia'
    ,'mes'
    ,'duracao'
    ,'campanha'
    ,'pdays'
    ,'previous'
    ,'poutcome'
]

tabela.head(2)
tabela.tail(2)

,idade,job,estado civil,educacao,default,balance,housing,emprestimo,contato,dia,mes,duracao,campanha,pdays,previous,poutcome
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other

In [37]:
### Renomear Todas as Colunas, colunas especificas
tabela =tabela.rename(columns = {
    'job':'profissao'
    ,'default':'padrao'
})

tabela.head(2)
tabela.tail(2)

In [47]:
### Utilizando a finção decribe(), Descrver os dados do dataframe
### Valores Numericos
tabela.describe()

,idade,balance,dia,duracao,campanha,pdays,previous
count,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000,45211.000000
mean,40.936210,1362.272058,15.806419,258.163080,2.763841,40.197828,0.580323
std,10.618762,3044.765829,8.322476,257.527812,3.098021,100.128746,2.303441
min,18.000000,-8019.000000,1.000000,0.000000,1.000000,-1.000000,0.000000
25%,33.000000,72.000000,8.000000,103.000000,1.000000,-1.000000,0.000000
50%,39.000000,448.000000,16.000000,180.000000,2.000000,-1.000000,0.000000
75%,48.000000,1428.000000,21.000000,319.000000,3.000000,-1.000000,0.000000
max,95.000000,102127.000000,31.000000,4918.000000,63.000000,871.000000,275.000000

In [55]:
#### Valores categoricos, utilizar o "O"
tabela.describe(include=['O'])

,profissao,estado civil,educacao,padrao,housing,emprestimo,contato,mes,poutcome
count,45211,45211,45211,45211,45211,45211,45211,45211,45211
unique,12,3,4,2,2,2,3,12,4
top,blue-collar,married,secondary,no,yes,no,cellular,may,unknown
freq,9732,27214,23202,44396,25130,37967,29285,13766,36959

In [81]:
### Exercício 01 – Manipulando dataframes com Pandas.
### Importando arquivo CSV
### Abra o arquivo world_happiness_report_2015.csv e o aloque em um dataframe.
#caminho = 'C:\\Users\\FIC\\Documents\\Python Fundamentos de Bigdata - Diogo\\Arquivos\\world_happiness_report_2015.csv'

### Carrega o arquivo para um Dataframe
#happiness = pd.read_csv(caminho)
#display(happiness)

### Verifique o cabeçalho e o final do dataframe.
#happiness.head(2) ### Visulaizar cabeçalho e duas linhas
#happiness.tail(2) ### Visulaizar cabeçalho e ultimas linhas

### Quais as colunas desse dataframe?
#happiness.info() # Visualizar o todos os detalhe do dataframe

### Quais os tipos de dados temos no dataframe?
#happiness.info() # Vislizar os tipos de dados do datafarme

### Há valores faltantes ou nulos? Em quais colunas?
#happiness.info() # Visulizar se existe ou não valores nulos

### Renomeie as variáveis como segue:

### Renomear Todas as Colunas, colunas especificas
# happiness =happiness.rename(columns = {
#     'happiness rank':'rank_felicidade'
#     ,'happiness score':'score_felicidade'
#     ,'standard error':'stande_error'
#     ,'economy (GDP per Capita)':'pib'

#     ,'economy (GDP per Capita)':'pib'
#     ,'economy (GDP per Capita)':'pib'
# })

### Renomear Todas as Colunas, colunas especificas
# happiness =happiness.rename(columns = {
#     'health (Life Expectancy)':'expect_vida'
#     ,'trust (Government Corruption)':'corrupcao'

# })

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   country            164 non-null    object
 1   region             164 non-null    object
 2   rank_felicidade    164 non-null    int64
 3   score_felicidade   156 non-null    float64
 4   stande_error       163 non-null    float64
 5   pib                164 non-null    float64
 6   family             164 non-null    float64
 7   expect_vida        164 non-null    float64
 8   freedom            164 non-null    float64
 9   corrupcao          164 non-null    float64
 10  generosity         164 non-null    float64
 11  dystopia residual  150 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 15.5+ KB

In [82]:
### g) Quais os valores médios de expect_vida? E o valor mediano? E o máximo da
### variável PIB?

# happiness.describe() #Verificar probalidade/statisca dos dados

,rank_felicidade,score_felicidade,stande_error,pib,family,expect_vida,freedom,corrupcao,generosity,dystopia residual
count,164.000000,156.000000,163.000000,164.000000,164.000000,164.000000,164.000000,164.000000,164.000000,150.000000
mean,77.018293,5.424487,0.047692,0.862023,1.000812,0.638187,0.434959,0.149978,0.239615,2.128909
std,46.699860,1.212568,0.017110,0.404519,0.272449,0.246327,0.152201,0.124201,0.128053,0.563160
min,1.000000,2.000000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,35.750000,4.561250,0.036780,0.579618,0.863468,0.460545,0.331247,0.063010,0.152017,1.811778
50%,76.500000,5.260500,0.043940,0.920510,1.038145,0.705930,0.440745,0.110690,0.217155,2.120700
75%,117.250000,6.422000,0.052335,1.190585,1.226987,0.814975,0.557190,0.189380,0.319570,2.474890
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

In [94]:
### Exercício 02 – Manipulando dados com Pandas
### a) Crie um programa em pandas para ler o arquivo em Excel imobiliária.xlsx

# caminho = "C:\\Users\\FIC\\Documents\\Python Fundamentos de Bigdata - Diogo\Arquivos\Imobiliária.xlsx"

### b) e coloque em um dataframe.
# Imobiliaria = pd.read_excel(caminho)
# Imobiliaria.info()

### c) Visualize o cabeçalho dos dados;
# Imobiliaria.head(2) ### Visulaizar cabeçalho e duas linhas

### d) Visualize as últimas linhas;
# Imobiliaria.tail(2)

### e) Escreva um programa para renomear o cabeçalho da tabela com os
# Imobiliaria.info()

### e) Escreva um programa para renomear o cabeçalho da tabela com os
### f) seguintes nomes:

#renomear todas as colunas
# Imobiliaria.columns = [
#     'filial'
#     ,'vendedor'
#     ,'data'
#     ,'tipo'
#     ,'area'
#     ,'dorms'
#     ,'garag'
#     ,'piscina'
#     ,'preco'
#     ,'comissao'

# ]

# Imobiliaria.info()

### g) 5. Quais são os tipos de dados que temos no dataframe?
# Imobiliaria.info()
# Dtype || responde essa pergunta

### h) 6. Há valores faltantes ou nulos?
# Imobiliaria.info()
# Non-RangeIndex: x Non-Null || responde essa pergunta

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1117 entries, 0 to 1116
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filial    1117 non-null   object
 1   vendedor  1117 non-null   object
 2   data      1117 non-null   datetime64[ns]
 3   tipo      1117 non-null   object
 4   area      1117 non-null   float64
 5   dorms     1117 non-null   int64
 6   garag     1117 non-null   int64
 7   piscina   1117 non-null   object
 8   preco     1117 non-null   int64
 9   comissao  1117 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(3), object(4)
memory usage: 87.4+ KB

In [100]:
### i) 7. Calcule a soma, média, máximo, mínimo e contagem da coluna Preço.
import numpy as np      ### Bibliotecas de processamento de dados
print(Imobiliaria['preco'].sum())   # Verificar a soma
print(Imobiliaria['preco'].mean())  # Verificar a media
print(Imobiliaria['preco'].max())   # Verificar a menimo
print(Imobiliaria['preco'].min())   # Verificar a menor valor
print(Imobiliaria['preco'].std())   # Verificar a desvio padrão
print(Imobiliaria['preco'].count()) # Verificar a contagem

295035000
264131.6025067144
384300
145100
77249.57838462107
1117

In [114]:
### Criando filtro de do Dataframe



### j) 8. Crie um programa para criar um dataframe para mostrar as vendas por
#arquivofilial = Imobiliaria[Imobiliaria['filial']=='Centro']   # Fitrando o arquivo
### k) região, e salvar um arquivo em Excel para cada região.
### ▪ Centro

arquivofilial = Imobiliaria[Imobiliaria['filial']=='Centro']
caminho_filiais = 'C:\\Users\\FIC\\Documents\\Python Fundamentos de Bigdata - Diogo\\Ralatorios_Filiais\\' ## Mapeando caminho de relatorios por Filial 
arquivo = 'filial_centro.xlsx'
### Salvar o arquivo na pasta
arquivofilial.to_excel(caminho_filiais + arquivo)


### ▪ Noroeste
arquivofilial = Imobiliaria[Imobiliaria['filial']=='Noroeste']
caminho_filiais = 'C:\\Users\\FIC\\Documents\\Python Fundamentos de Bigdata - Diogo\\Ralatorios_Filiais\\' ## Mapeando caminho de relatorios por Filial 
arquivo = 'filial_Noroeste.xlsx'
### Salvar o arquivo na pasta
arquivofilial.to_excel(caminho_filiais + arquivo)

### ▪ Norte
arquivofilial = Imobiliaria[Imobiliaria['filial']=='Norte']
caminho_filiais = 'C:\\Users\\FIC\\Documents\\Python Fundamentos de Bigdata - Diogo\\Ralatorios_Filiais\\' ## Mapeando caminho de relatorios por Filial 
arquivo = 'filial_Norte.xlsx'
### Salvar o arquivo na pasta
arquivofilial.to_excel(caminho_filiais + arquivo)

### ▪ Sudeste
arquivofilial = Imobiliaria[Imobiliaria['filial']=='Sudeste']
caminho_filiais = 'C:\\Users\\FIC\\Documents\\Python Fundamentos de Bigdata - Diogo\\Ralatorios_Filiais\\' ## Mapeando caminho de relatorios por Filial 
arquivo = 'filial_Sudeste.xlsx'
### Salvar o arquivo na pasta
arquivofilial.to_excel(caminho_filiais + arquivo)

### ▪ Oeste
arquivofilial = Imobiliaria[Imobiliaria['filial']=='Oeste']
caminho_filiais = 'C:\\Users\\FIC\\Documents\\Python Fundamentos de Bigdata - Diogo\\Ralatorios_Filiais\\' ## Mapeando caminho de relatorios por Filial 
arquivo = 'filial_Oeste.xlsx'
### Salvar o arquivo na pasta
arquivofilial.to_excel(caminho_filiais + arquivo)

### ▪ Leste
arquivofilial = Imobiliaria[Imobiliaria['filial']=='Leste']
caminho_filiais = 'C:\\Users\\FIC\\Documents\\Python Fundamentos de Bigdata - Diogo\\Ralatorios_Filiais\\' ## Mapeando caminho de relatorios por Filial 
arquivo = 'filial_Leste.xlsx'
### Salvar o arquivo na pasta
arquivofilial.to_excel(caminho_filiais + arquivo)

### ▪ Sudoeste
arquivofilial = Imobiliaria[Imobiliaria['filial']=='Sudoeste']
caminho_filiais = 'C:\\Users\\FIC\\Documents\\Python Fundamentos de Bigdata - Diogo\\Ralatorios_Filiais\\' ## Mapeando caminho de relatorios por Filial 
arquivo = 'filial_Sudoeste.xlsx'
### Salvar o arquivo na pasta
arquivofilial.to_excel(caminho_filiais + arquivo)

### ▪ Sul
arquivofilial = Imobiliaria[Imobiliaria['filial']=='Sul']
caminho_filiais = 'C:\\Users\\FIC\\Documents\\Python Fundamentos de Bigdata - Diogo\\Ralatorios_Filiais\\' ## Mapeando caminho de relatorios por Filial 
arquivo = 'filial_Sul.xlsx'
### Salvar o arquivo na pasta
arquivofilial.to_excel(caminho_filiais + arquivo)

### ▪ Nordeste
arquivofilial = Imobiliaria[Imobiliaria['filial']=='Nordeste']
caminho_filiais = 'C:\\Users\\FIC\\Documents\\Python Fundamentos de Bigdata - Diogo\\Ralatorios_Filiais\\' ## Mapeando caminho de relatorios por Filial 
arquivo = 'filial_Nordeste.xlsx'
### Salvar o arquivo na pasta
arquivofilial.to_excel(caminho_filiais + arquivo)